.list {
  margin-bottom: 20;
  padding-left: 0;
}
.list-item {
  font-weight: 300;
  font-size: 24;
  max-width: 560;
  margin-bottom: 20;
}

.link-style {
  color: "#8954A8";
  font-weight: "bold";
  font-size: 16;
  vertical-align: "5%";
}
