.heading-container {
  margin: auto;
  /* max-width: 640px; */
  font-family: sans-serif;
}

.heading {
  color: rebeccapurple;
  max-width: 640px;
}

.content-container {
  margin: auto;
  max-width: 640px;
  font-family: sans-serif;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.nav-link-item {
  float: left;
}
.nav-link-item:hover {
  background-color: #111;
}
.nav-link-item-right {
  float: right;
}
.nav-link-item-right:hover {
  background-color: #111;
}

.nav-link-item-link {
  display: block;
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}



.nav-link-item-left {
  /* padding-right: 2rem;
  float: left; */
}

.nav-link-item-middle {
  /* padding-right: 2rem;
  margin-left: 50%;
  float: right; */
}



.nav-link-text {
  /* color: black; */
}

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin: 3rem 0;
}
