.nav-container {
  margin: auto;
  font-family: sans-serif;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.nav-link-item {
  float: left;
}
.nav-link-item:hover {
  background-color: #111;
}
.nav-link-item-right {
  float: right;
}
.nav-link-item-right:hover {
  background-color: #111;
}

.nav-link-item-link {
  display: block;
  color: white;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}


.content-container {
  margin: auto;
  max-width: 700px;
  font-family: sans-serif;
}
.heading {
  color: rebeccapurple;
  max-width: 700px;
  font-size: 20px;
  font-weight: bold;
}